.centraliza{
 
        text-align: center;  
        margin: 0 auto; 
      
    
}
#clicavel{
    cursor: pointer;
    }
    
    #clicavel:hover{
    color: rgb(12, 196, 40);
    }
    
    #clicavel:active{
    color: rgb(15, 15, 223);
    }